{% extends "base.html" %}
{% load static %}

<article class="post-list">

    <div>
        <h1>Inspiring words here</h1>
    </div>
    
    <div>
        <h1>Start Playing Today!</h1>
        <p>Sign up on a free membership for benefits!</p>
    </div>
    
    <div>
        <h1>Trending Items</h1>
        <p>Show top 3 items(have full list in dedicated page)</p>
    </div>

    <div>
        <h1>Use code "ELECTRIC-BOOGALOO" to get 15% off!</h1>
        <p>Lorem ipsum.</p>
    </div>

    <div>
        <h1>Box 5</h1>
        <p>Lorem ipsum.</p>
    </div>

    <div>
        <h1>Box 6</h1>
        <p>Lorem ipsum.</p>
    </div>

</article>