{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {{ product.description|truncatewords:155 }}
{% endblock %}
{% block title %}
    Home Page - WaveNetwork
{% endblock %}
{% block content %}

<article class="post-list">
    <div>
        <h1>Welcome To Wave-Network</h1>
    </div>
    <img src="{% static 'images/Hero_image.jpg' %}" style="width: 100%; margin: auto; margin-bottom: 2em;" alt="">

    <div>
        <h1>Start Playing Today!</h1>
        <p>Sign up on a free membership for benefits!</p>
    </div>

    <div>
        <h1>Use code "IBANEZ" to get 35% off!</h1>
        <p>With other discount codes you can find amazing prices!</p>
    </div>
    
</article>

{% endblock %}