{% load static %}
<img src="{% static 'images/logo.png' %}" alt="logo" class="logo" draggable="false">


<nav class="wirebox">
    <ul>
        <a href="{% url 'shop:main_page' %}"><li>Main Page</li></a>
        <a href="{% url 'shop:all_products' %}"><li>Search</li></a>
        <a href="{% url 'messageboard:post_list' %}"><li>Message Board</li></a>
        <a href=""><li>Basket</li></a>
        <a href="{% url 'accounts:signup' %}"><li>Login</li></a>
        <a href="{% url 'shop:about' %}"><li>About</li></a>
    </ul>
</nav>