{% extends "base.html" %}
{% load static %}

{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to the cushion store where you can buy comfy and awesome cushions.
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - WaveNetwork
    {% else %}
        Product List - WaveNetwork
    {% endif %}
{% endblock %}

{% block content %}
    <!--Breadcrumb navigation-->
    <article>
        {% if category %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:all_products' %}">Our Product Collection</a> | {{category.name}}</p>
            </div>
        </div>
    {% endif %}
    </article>
    
    <div class="mx-auto">
        {% if category %}
            <img class="my_image" src="{{category.image.url}}" style="width: 80%; margin: auto; margin-bottom: 2em; margin-left: 2em;" alt="{{category.name}}">
        </div>
        <br>
        <div>
            <h1 class="text-center my_title">{{category.name}}</h1>
            <p class="text-justify">{{category.description}}</p>
        </div>
    {% else %}
        <img class="my_image my_image_padding" src="{% static 'images/banner.jpg' %}" alt="Our Products Collection">
    </div>
    <br>
    <div>
    {% endif %}
    
    <div class="container">
        <div class="row mx-auto">
            {% for product in products %}
                <div class="my_bottom_margin col-9 col-lg-4 col-sm-12 col-md-4 mb-5">
                    <div class="card text-center" style="min-width:18rem;">
                        <a class="img" href="{{ product.get_absolute_url }}">
                            <img class="card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        <div class="card-body bg-dark text-white">
                            <h4>{{ product.name }}</h4>
                            <p>€{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No products available in this category.</p>
            {% endfor %}
        </div>
        
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}
                <hr>
                <div class="text-center">
                    {% for pg in products.paginator.page_range %}
                        <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{ pg }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <br>
        </div>
    </div>
{% endblock %}
