{% extends 'base.html' %}
{% block title %} Post Detail Page {% endblock title %}

{% block content %}
<div class="post">
    <article class="post-entry">
        <h1><a href="{% url 'messageboard:post_list' %}">Go Back</a> - {{ post.title }}</h1>
        <p>{{ post.text | linebreaks }}</p>

        {% if post.author.pk == request.user.pk %}
            <section>
                <p><a href="{% url 'messageboard:post_edit' post.pk %}">Edit Post</a></p>
                <p><a href="{% url 'messageboard:post_delete' post.pk %}">Delete Post</a></p>
            </section>
        {% endif %}
    </article>
    
    {% for comment in post.comment.set_all %}
        <article class="post-entry">
            <h1>{{ comment.author }}</h1>
            <p>{{ comment }}</p>
        </article>
    {% endfor %}


</div>

{% endblock content %}